meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Generalidades y características del plátano 
meta(meta name="description" content="El contenido de esta actividad permite al aprendiz alcanzar los conocimientos sobre los aspectos importantes del cultivo del plátano y las características fisiológicas de la planta que influyen en la calidad del fruto. Se abordarán temas relacionados con la producción, condiciones agroecológicas del cultivo, variedades, fisiología y contenido nutricional del plátano.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")