.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Agroindustria del plátano
            h1.curso-titulo Generalidades y características del plátano

            .brand-line-primary

            p.curso-descripcion El contenido de esta actividad permite al aprendiz alcanzar los conocimientos sobre los aspectos importantes del cultivo del plátano y las características fisiológicas de la planta que influyen en la calidad del fruto. Se abordarán temas relacionados con la producción, condiciones agroecológicas del cultivo, variedades, fisiología y contenido nutricional del plátano. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")