include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/pxIe0Jg455Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


                .card-body

                    p.mt-4 <strong>Introducción</strong> | El cultivo de plátano ocupa el cuarto puesto en exportación y es considerado como uno de los más importantes del mundo, por ser este un producto básico que contribuye a las diferentes fuentes de empleo e ingresos en gran parte, de los países latinoamericanos dentro de los cuales se encuentra Colombia. El plátano hace parte del importante reglón frutícola del país y pertenece al sector tradicional de producción campesina; además de ser un elemento fundamental en la dieta de los colombianos.
                
                    p.my-4 Dada la importancia del cultivo, es necesario conocer sus principales características que permitan potencializar su producción, de acuerdo con las condiciones agroecológicas, para llevar a cabo las diferentes prácticas de manejo y de esta manera poder ofrecer un producto de calidad acorde con los requerimientos del mercado.

