include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción



    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Información sobre el coronavirus | 
                    | En diciembre de 2019 se detectó un grupo de casos de neumonía en China, los investigadores encontraron que fue causado por un virus desconocido, ahora llamado el nuevo CORONAVIRUS o COVID-19. Acompáñanos a revisar lo que sabemos del nuevo virus.



    .header-arrow
        h3 Infografía del Coronavirus

    .d-flex.flex-column.justify-content-center.my-5

        figure.my-4.text-center
            img(src="assets/images/pages/introduccion/planta-platano.png")    

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        