.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Hernández, E. Cambios físicos y químicos durante la maduración de cambures y plátanos.    
                td Artículo
                td 
                    a(href="media/documentos/complementarios/MC_AA1_Cambios_fisicos_y quimicos_durante_la_maduracion_de_cambures_y_platanos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Quiceno, M., Giraldo, G., y Villamizar, R. (2014) Caracterización fisicoquímica del plátano (Musa paradisiaca sp. AAB, Simmonds) para la industrialización

                td Artículo
                td 
                    a(href="media/documentos/complementarios/MC_AA1_Caracterizacion_fisicoquimica_del_platano_para_la_industrializacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
