.container

  ol
    li 
      p Arcila, M., Giraldo, G., Celis, F. y Duarte, J. (2002). Cambios físicos y químicos durante la maduracióndel plátano dominico-hartón (Musa AAB Simmonds) en la región cafetera central colombiana. Asociación de Bananeros de Colombia AUGURA.

    li
      p 
        | Barrera, V., Cardona, C. y Cayón, D. (2011). El cultivo de plátano (Musa AAB Simmonds): ecofisiología y manejo cultural sostenible.  <a href="https://editorialzenu.com/images/1467833541.pdf" target="_blank">https://editorialzenu.com/images/1467833541.pdf</a>    

    li
      p 
        | Cayón, D. G. y Bolaños, M. M. (1999). Efecto de la remoción de hojas sobre la distribución de elementos minerales en el racimo del clon Dominico – Hartón (Musa AAB Simmonds). Revista Infomusa, 8(2).

    li
      p 
        | Comisión Nacional de Promoción de Exportaciones (CNPE). (Sin fecha). Ficha de Plátano para el Mercado de Estados Unidos. <a href="https://www.mific.gob.ni/Portals/0/Documentos/Publicaciones/Ficha%20Platano%20-%20Estados%20Unidos%202018.pdf?ver=2019-08-20-095249-027" target="_blank">https://www.mific.gob.ni/Portals/0/Documentos/Publicaciones/Ficha%20Platano%20-%20Estados%20Unidos%202018.pdf?ver=2019-08-20-095249-027</a>    

    li
      p 
        | Castellanos, F. y Lucas, J. (2011). Caracterización física del fruto en variedades de plátano cultivadas en la zona cafetera de Colombia. 
        a(href="http://www.scielo.org.co/pdf/acag/v60n2/v60n2a09.pdf", target="_blank") http://www.scielo.org.co/pdf/acag/v60n2/v60n2a09.pdf 

    li
      p 
        | Echeverry, S. y Castellanos, F. (2002). Comportamiento poscosecha en almacenamiento a dos temperaturas de plátano en las variedades: “Dominico Harton, Africa y Fhia 20”.
        a(href="http://bdigital.unal.edu.co/991/1/sandracarmenzaecheverymartinez.2002.pdf", target="_blank") http://bdigital.unal.edu.co/991/1/sandracarmenzaecheverymartinez.2002.pdf 

    li
      p 
        | Fundación El Alcaraván y Programa Nacional de Transferencia de Tecnología Agropecuaria (PRONATTA). (1999). Manejo pos-cosecha del plátano. 
        a(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/4704/1/Manejo%20poscosecha%20del%20platano.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/4704/1/Manejo%20poscosecha%20del%20platano.pdf 

    li
      p 
        | Guerrero, M. (2010). Guía técnica del cultivo del plátano.
        a(href="http://www.centa.gob.sv/docs/guias/frutales/GUIA%20CULTIVO%20PLATANO%202011.pdf", target="_blank") http://www.centa.gob.sv/docs/guias/frutales/GUIA%20CULTIVO%20PLATANO%202011.pdf                         

    li
      p 
        | Hernández, M. (2013). Ficha Técnica: cultivo del plátano. 
        a(href="https://es.scribd.com/document/125575519/Ficha-Tecnica-Platano-2013", target="_blank") https://es.scribd.com/document/125575519/Ficha-Tecnica-Platano-2013  

    li
      p 
        | Herrera, M. y Colonia, L. (2011). Manejo integrado del cultivo de plátano. 
        a(href="https://www.agrobanco.com.pe/pdfs/capacitacionesproductores/Platano/MANEJO_INTEGRADO_DEL_CULTIVO_DE_PLATANO.pdf", target="_blank") https://www.agrobanco.com.pe/pdfs/capacitacionesproductores/Platano/MANEJO_INTEGRADO_DEL_CULTIVO_DE_PLATANO.pdf  

    li
      p 
        | Morales, H. (2010). La inflorescencia o racimo del plátano. 
        a(href="http://www.platanodelquindio.com/2010/09/la-inflorescencia-o-racimo.html", target="_blank") http://www.platanodelquindio.com/2010/09/la-inflorescencia-o-racimo.html  

    li
      p 
        | Palencia, G., Gómez, R. y Martín J. (2006). Manejo sostenible del plátano. Editorial Produmedios.

    li
      p 
        | ProMusa. (2016). Morfología de la planta del banano.         
        a(href="http://www.promusa.org/Morfolog%C3%ADa+de+la+planta+del+banano", target="_blank") http://www.promusa.org/Morfolog%C3%ADa+de+la+planta+del+banano                                          