include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 4. Variedades

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kFc_nRL5vF0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


    p.mt-5 En Colombia existe una amplia gama de variedades de plátano, las cuales se cultivan en las diferentes regiones, de acuerdo a su adaptación a las diferentes condiciones agroecológicas; estas son: hartón, dominico-hartón, dominico, pelipita, morado, cachaco o popocho, pompo o comino, guineo, entre otros. Sin embargo, las variedades comerciales más cultivadas son:


    table.table.table-bordered.table-striped.mt-5
        thead.thead-brand-dark

            tr
                th Variedad
                th Características
                th Altitud (m.s.n.m)

        tbody

            tr
                td 
                    strong Hartón

                td
                    ul
                        li.text-left Bellota de desprendimiento rápido.
                        li.text-left Racimo con pocas manos.
                        li.text-left Frutos muy desarrollados de tamaño grande.
                        li.text-left Utilizado para la producción de harinas.
                    
                td 0-1000

            tr
                td 
                    strong Dominico-hartón

                td
                    ul
                        li.text-left Conserva parte de su bellota durante la maduración.
                        li.text-left Racimos con 7 manos promedio.
                        li.text-left Manos con 10 a 12 dedos o plátanos.
                        li.text-left Frutos de tamaño mediano.
                        li.text-left Utilizado para el procesamiento porque se facilita el desprendimiento de la cáscara.

                td 1000-1500

            tr
                td 
                    strong Dominico

                td
                    ul
                        li.text-left Bellota bastante alargada.
                        li.text-left Conserva la bellota hasta la maduración.
                        li.text-left Racimo de 6-10 manos.
                        li.text-left Manos con 12 a 24 dedos o plátanos.

                td 1200-2000