include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 3. Aspectos fenológicos
 
    p El desarrollo de la planta de plátano morfológicamente presenta tres fases fenológicas, este proceso puede durar de 11 a 12 meses después de la siembra, dependiendo el clima y el manejo del cultivo: 

    .row.justify-content-center.align-items-center.my-5
        .jumbotron.col-12.col-md-10.bg-white
            p.header-step
                span.header-step-number 01

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-3/f1.svg", style="max-width: 200px").img-fluid.mb-3.mb-md-0
                .col-8
                    h3 Fase vegetativa
                    hr.line-100.bg-brand-color-dark
                    ul
                        li Duración 6 meses.
                        li Inicia con la formación de raíces principales y secundarias.
                        li Desarrollo de pseudotallo e hijos.


    .row.justify-content-center.align-items-center.my-5
        .jumbotron.col-12.col-md-10.bg-white
            p.header-step
                span.header-step-number 02

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-3/f2.svg", style="max-width: 200px").img-fluid.mb-3.mb-md-0
                .col-8
                    h3 Fase floral
                    hr.line-100.bg-brand-color-dark
                    ul
                        li Duración aproximada de 3 meses después de la fase vegetativa.
                        li El tallo floral se eleva desde el rizona a través del pseudotallo y es visible hasta la aparición de la inflorescencia.


    .row.justify-content-center.align-items-center.my-5
        .jumbotron.col-12.col-md-10.bg-white
            p.header-step
                span.header-step-number 03

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-3/f3.svg", style="max-width: 200px").img-fluid.mb-3.mb-md-0
                .col-8
                    h3 Fase de fructificación
                    hr.line-100.bg-brand-color-dark
                    ul
                        li Duración aproximada de 3 meses después de la fase floral
                        li Diferenciación de flores masculinas y flores femeninas (dedos).
                        li Disminución gradual del área foliar.                      