include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Generalidades del cultivo de plátano
 

    .card
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/MRhGJKkWDnc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body
            p El plátano es una fruta tropical originaria del sudeste asiático, perteneciente a la familia de las musáceas, se cultiva en regiones tropicales y subtropicales debido a esto su producción se concentra en los países de África, América Latina y el Caribe. (CNPE, s.f)

            p.mt-5 Desde entonces, se ha convertido en la fruta más popular a nivel mundial, considerado el cuarto cultivo más importante por ser un producto básico y de exportación, producido principalmente por África, América Latina y el Caribe, quienes lo comercializan en fresco y en menor escala como producto procesado; siendo Estados Unidos y Europa los principales importadores de plátano en fresco. (Palencia, Gómez y Martín, 2006)


    p.text-center.my-5.py-5
        img(src="assets/images/pages/tema-1/mapa-platano.svg").img-fluid 


    p En Colombia, el cultivo del plátano hace parte del renglón frutícola con un gran significado socioeconómico, debido a que pertenece al sector de la economía campesina, con sistemas de producción tradicionales distribuidos por todo el país. Frecuentemente se produce en asocio con otros tipos de cultivos y en menor cantidad como monocultivo tecnificado; además, constituye una importante fuente de empleo e ingresos para las regiones productoras y contribuye a la seguridad alimentaria pues hace parte de la dieta de los colombianos como una importante fuente de carbohidratos, fibra y minerales

    blockquote “La mayor producción de plátano se concentra en la región Andina, que aporta el 50 % de la producción nacional y en menor volumen las regiones del Caribe, Pacífico y Orinoquía” (Castellanos y Lucas, 2011).

    .jumbotron.bg-brand-color-dark-light La tecnología de producción varía según las condiciones agroecológicas de cada región y el destino de mercado: plazas de mercado o supermercados especializados, industria, exportación. Siendo este último el de mayor exigencia técnica debido a los requerimientos comerciales demandados por las cadenas de mercados. (Barrera, Cardona y Bayón, 2011)