//Colores base del material de formación
$brand-color-dark: #80CBC4;
$text-color-dark: $primary;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: lighten(#80CBC4, 15%);
$text-color-light: $primary;

$brand-color-secondary: #E6E5E7;