.bg-color-naranja {
    background-color: orange;
}


// Estilos tema 2

.custom-item-img {
    flex: 0 0 120px;
    overflow: hidden;
    margin-right: 2rem;
}


.bg-color-azul {
    background-color: rgba(2,136,209,.3);
}

.bg-color-cafe {
    background-color: rgba(141,110,99,.3);
}

.border-color-cafe {
    border-color: maroon;
}